/* Generic */
body {
	display: flex;
	justify-content: center;
	font-family: "Raleway", sans-serif;
	flex-wrap: wrap;
}

.container {
	width: 100%;
	max-width: 95%;
}

a {
	text-decoration: none;
}

h2 {
	font-size: 17px;
}

h3 {
	color: black;
	font-weight: 700;
	font-size: 14px;
}

h4 {
	font-size: 14px;
}

p {
	color: black;
	font-size: 14px;
	font-weight: 400;
}

.show-mobile {
	display: none;
}

/* Header & navigation */

#header-logo {
	position: relative;
	top: 20px;
	height: 40px;
	width: auto;
}

header {
	display: flex;
	justify-content: space-between;
}

nav {
	display: flex;
	align-items: center;
	justify-content: end;
}

nav ul {
	display: flex;
	margin-top: 0;
}

nav li {
	list-style: none;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 35px;
}

nav li:hover {
	border-top: 2px solid #0065fc;
	padding-top: 33px;
}

nav li:hover > a {
	color: #0065fc;
}

nav li.active > a {
	color: #0065fc;
}

nav a {
	text-decoration: none;
	color: black;
	padding-left: 10px;
	padding-right: 10px;
}

/* Location form */

#location-search {
	margin-top: 40px;
}

input#location {
	padding: 5px;
	font-weight: bold;
	padding: 10px;
	border: 1px solid #f2f2f2;
}

form {
	display: flex;
	margin-top: 10px;
}

form > span {
	align-self: center;
	padding: 13px;
	background-color: #f2f2f2;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

input#location::placeholder {
	color: black;
	opacity: 1;
}

form > button {
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border: none;
	background-color: #0065fc;
	color: #fff;
	cursor: pointer;
}

/* Filter search */

#filter-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
	gap: 10px;
}

#filters-header {
	display: flex;
	margin: 0;
	justify-content: center;
	align-items: center;
}

.filter-item {
	display: flex;
	cursor: pointer;
}

.filter-text {
	display: flex;
	align-content: center;
	border: 2px solid #f2f2f2;
	border-left: none;
	border-radius: 0px 20px 20px 0px;
	margin-left: -20px;
	z-index: 1;
}

.filter-item:hover .filter-text {
	background-color: #0065fc;
	color: #fff;
}

.filter-item:hover .filter-icon {
	background-color: #f2f2f2;
}

.filter-text > h4 {
	display: flex;
	align-items: center;
	margin: 0;
	font-size: 16px;
	padding-right: 20px;
	padding-left: 30px;
}

.filter-icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: none;
	padding: 10px;
	color: #0065fc;
	background-color: #deebff;
	z-index: 9;
}

#filter-search > div:nth-child(2) {
	display: flex;
	align-items: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

#filter-search > div:nth-child(2) > p {
	margin: 0;
}

#filter-search .info-icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	color: #0065fc;
	font-size: 10px;
	border-radius: 50%;
	border: 1px solid #f2f2f2;
	height: 10px;
	width: 10px;
	margin-right: 5px;
}

/* Hébergements */
#hebergements {
	display: flex;
}

#hebergements > aside {
	flex: 1;
}

#hebergements > div {
	margin-right: 25px;
	flex: 2.2;
}

#hebergements h4 {
	cursor: pointer;
}

.card {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 20px;
	border-radius: 15px;
	background-color: #f2f2f2;
}

.rental-list {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 20px;
}

.rental-list > a {
	display: flex;
	flex-basis: 31%;
}

.item-link:hover h3 {
	color: #0065fc;
}

.rental-item {
	display: flex;
	flex-direction: column;
}

.card h3 {
	font-size: 12px;
	margin: 0;
}

.rental-item > div:nth-child(1) {
	display: flex;
	max-height: 100%;
	flex: 1.5;
}

.rental-item > div:nth-child(2) {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 5px;
}

.card p {
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.card > span {
	font-weight: bold;
	color: #333;
}

.item-card {
	background-color: #fff;
	padding: 4px;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.rental-item img {
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.card .rating {
	font-size: 10px;
	color: #0065fc;
}

.card .rating .empty-star {
	font-size: 10px;
	color: #deebff;
}

/* Popular items */

.popular-items {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.popular-item {
	display: flex;
}

.popular-item > div:nth-child(1) {
	display: flex;
	flex: 1.2;
	min-height: 110px;
}

.popular-item > div:nth-child(2) {
	display: flex;
	flex-direction: column;
	flex: 2;
	padding-top: 10px;
	padding-left: 15px;
}

.popular-item > div:nth-child(2) > h3 {
	width: 70%;
}

.popular-item > div > img {
	width: 100%;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.popular-item .rating {
	margin-top: auto;
	margin-bottom: 5px;
}

.item-card .price {
	font-weight: bold;
}

.card > h4 {
	margin-top: 25px;
}

.card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Activities */

#activites {
	margin-top: 40px;
	margin-bottom: 40px;
}

#activites > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 50%;
}

#activites .column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-basis: 22%;
	max-width: 22%;
}

#activites .item-card {
	display: flex;
	flex-direction: column;
	padding: 0;
}

.activity-item > div > img {
	width: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.activity-item > div:nth-child(2) {
	display: flex;
	align-content: center;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

#activites h3 {
	margin: 0;
}

/* Footer */

footer {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #f2f2f2;
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer {
	display: flex;
	gap: 20%;
}

.footer ul {
	padding: 0;
}

.footer li {
	list-style-type: none;
	margin-bottom: 10px;
	font-size: 12px;
}

.footer li a {
	text-decoration: none;
	color: black;
}

.footer li a:hover {
	color: #0065fc;
}
